header {
  background-color: #444444;
  height: 100px;
  display: block;
}

.left {
  background-color: #efefef;
  height: 500px;
  width: 90px;
  float: left;
}

.right {
  background-color: #efefef;
  height: 500px;
  width: 90px;
  float: right;
}

.center {
  height: 400px;
  width: 100%;
}

.bottom {
  background-color: black;
  width: 1040px;
  height: 100px;
  border: 1px solid black;
  margin: auto;
}
